/*  your css code here. If applicable */
#title,#author,#isbn{
	width:100%;
	
}
#submit{
	background-color:blue;
	color:white;
	border-radius:5px;
	margin-top:10px;
	border:none;
}
.table{
	width:70%
}
tbody:nth-child(even) {background-color: #f2f2f2;}